[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/Langwedocjusz/imgui
	branch = master
	update = rebase
[submodule "vendor/GLSL-Shader-Includes"]
	path = vendor/GLSL-Shader-Includes
	url = https://github.com/tntmeijs/GLSL-Shader-Includes
