###Actually sensible part:

#Build directory
build/

#Imgui config
imgui.ini

###Prevention:

#Visual Studio files:
.vs/
*.vcxproj.user
*.vcxproj.filters
*.vcxproj
*.sln

#Cmake files:
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
